@(message: String)

@main("RTC DataChannel test") {
	<script>
		function User (name, isOfferer){
			this.name = name;
			this.isOfferer = isOfferer;
		}
		user = new User('Answerer',false);
	</script>
	<h1>answer oldal</h1>

}
